<div class="loading-container mx-auto"  style="width:40%; padding-top: 30%;" *ngIf="loading">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-accordion *ngIf="!loading && !isError">
    <mat-expansion-panel *ngIf="topPanel !== undefined && topPanel.dividends !== undefined; else unavailBlockTop">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{topPanel.symbol}}
        </mat-panel-title>
        <mat-panel-description>
            Single-Year Dividends
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div [innerHtml]="renderPanelData(topPanel)"></div>
    </mat-expansion-panel>
    <ng-template #unavailBlockTop>
        <p class="text-warning" *ngIf="topPanel !== undefined">Could not fetch dividend data for {{topPanel.symbol}}</p>
    </ng-template>
    <mat-expansion-panel *ngIf="bottomPanel !== undefined && bottomPanel.dividends !== undefined; else unavailBlockBottom">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{bottomPanel.symbol}}
        </mat-panel-title>
        <mat-panel-description>
            Single-Year Dividends
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div [innerHtml]="renderPanelData(bottomPanel)"></div>
    </mat-expansion-panel>
    <ng-template #unavailBlockBottom>
        <p class="text-warning" *ngIf="bottomPanel !== undefined">Could not fetch dividend data for {{bottomPanel.symbol}}</p>
    </ng-template>
</mat-accordion>
<p class="text-danger" *ngIf="!loading && isError">Failed loading dividend data.</p>
