<div *ngIf="!isLoaded">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
</div>
<div class="jumotron text-center">
    <h4 class="display-4 text-white">Ex-Dividend Calendar</h4>
</div>
<p>
    <a (click)="navBack()" class="arrow-link-container">
        <img id="arrow-back" src="../../../../../../assets/dash-images/back-arrow.svg" alt="back_arrow">
        <span class="text-white">To Dash</span>
    </a>
    <span 
    *ngIf="calendarContainer !== undefined && calendarContainer.errorObjects !== undefined && calendarContainer.errorObjects.length > 0"
     class="text-danger" style="margin-left: 29%;">    *Some stocks unable to render: {{renderErrorStocks()}}</span>
</p>
<div class="m-3 calendar-container">
    <full-calendar [options]="calendarOptions" ></full-calendar>
</div>
