<div class="row pt-5">
    <div class="col col-md-4 mx-auto">
        <div class="card rounded-3">
            <div class="card-header">
                <h4 class="mb-0 text-center">Register</h4>
            </div>
            <div class="card-body text-center mx-auto">
                <form [formGroup]="registerForm" (ngSubmit)="submitRegisterUserData()">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
                        <span *ngIf="username.invalid && username.touched">
                            <small class="text-danger" *ngIf="username.errors?.required">Username field is required</small>
                            <small class="text-danger" *ngIf="username.errors?.minlength">Must be at least 5 characters</small>
                            <small class="text-danger" *ngIf="username.errors?.maxlength">Cannot be more than 15 characters</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password" [class.is-invalid]="password.invalid && password.touched">
                        <span *ngIf="password.invalid && password.touched">
                            <small class="text-danger" *ngIf="password.errors?.required">Password field is required</small>
                            <small class="text-danger" *ngIf="password.errors?.minlength">Must be at least 5 characters</small>
                            <small class="text-danger" *ngIf="password.errors?.maxlength">Cannot be more than 15 characters</small>
                            <small class="text-danger" *ngIf="password.errors?.notValid">{{password.errors?.notValid.value}}</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success text-white" type="submit" [disabled]="!registerForm.valid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center">
                Already have an account? <a routerLink="/login">Login</a>
            </div>
        </div>
        <div class="spinner-container" *ngIf="!reqCompleted">
            <mat-progress-spinner [mode]="mode" [color]="color"></mat-progress-spinner>
        </div>
        <div class="text-center" *ngIf="errorOccurred; else successBlock">
            <small class="text-danger">{{errorMessage}}</small>
        </div>
        <ng-template #successBlock>
            <div class="text-center">
                <small class="text-success">{{successMessage}}</small>
            </div>
        </ng-template>
    </div>
</div>