<div *ngIf="flag === 0 || flag === 1">
    <h1 mat-dialog-title class="mx-3 text-center">{{flag === 0 ? 'Add a Position' : 'Remove a Position'}}</h1>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <p>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Symbol</mat-label>
                    <input type="text" matInput formControlName="symbol" autocomplete="off">
                    <mat-error *ngIf="symbol.invalid">{{configureError(symbol)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Position</mat-label>
                    <input type="number" matInput formControlName="position" autocomplete="off">
                    <mat-error *ngIf="position.invalid">{{configureError(position)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Share Price ($)</mat-label>
                    <input type="number" matInput formControlName="priceOfBuy" autocomplete="off">
                    <mat-error *ngIf="priceOfBuy.invalid">{{configureError(priceOfBuy)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" type="datetime" formControlName="dateOfBuy" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="utils.dateFilter" placeholder="Choose a Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                    <mat-error *ngIf="dateOfBuy.invalid">{{configureError(dateOfBuy)}}</mat-error>
                </mat-form-field>
            </p>
            <div class="text-center text-white justify-content-center">
                <button mat-raised-button type="submit" [disabled]="form.invalid" *ngIf="flag === 0; else delFlag" id="add-button" (click)="sendData()">Add</button>
                <ng-template #delFlag>
                    <button mat-raised-button type="submit" [disabled]="form.invalid" id="remove-button" (click)="sendData()">Remove</button>
                </ng-template>
                <mat-error *ngIf="isDialogErr">{{dialogErrMessage}}</mat-error>
            </div>
        </form>
    </div>
    <div class="loading-container position my-2" *ngIf="confirmClickLoading && (!isDialogErr && !addError)">
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
    </div>
</div>
<div *ngIf="flag === 2">
    <h1 mat-dialog-title class="mx-3 text-center">{{createDeleteHeaderString()}}</h1>
    <div mat-dialog-content class="mat-typography text-center text-white">
        <h3>Click confirm to delete position.</h3>
        <div class="my-2">
            <button mat-raised-button class="bg-success mx-2" (click)="confirmDelete()">Confirm</button>
            <button mat-raised-button class="bg-warning mx-2" (click)="revert()">Leave</button>
        </div>
    </div>
    <div class="loading-container position" *ngIf="confirmClickLoading && !isDialogErr">
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
    </div>
</div>
<div *ngIf="flag === 3">
    <h1 mat-dialog-title class="mx-3 text-center">{{createAdditionHeader()}}</h1>
    <div mat-dialog-content class="mat-typography text-center text-white">
        <mat-form-field appearance="standard">
            <mat-label>Shares to Add</mat-label>
            <input matInput type="number" autocomplete="off" [(ngModel)]="positionToAdd" required>
        </mat-form-field>
        <div class="my-2 text-center">
            <button mat-raised-button class="bg-success mx-2" (click)="addOntoPosition()"
            [disabled]="addIsDisabled()">Confirm</button>
            <button mat-raised-button class="bg-warning mx-2" (click)="revert()">Leave</button>
            <mat-error *ngIf="addError">Invalid Position</mat-error>
        </div>
    </div>
    <div class="loading-container position" *ngIf="confirmClickLoading && !addError">
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
    </div>
</div>
<div *ngIf="flag === 4">
    <h1 mat-dialog-title class="mx-3 text-center">Create Profile</h1>
    <div mat-dialog-content>
        <form [formGroup]="createProfileForm">
            <div class="text-center">
                <p>
                    <mat-form-field appearance="standard" class="mx-4">
                        <mat-label>Account Name</mat-label>
                        <input type="text" matInput formControlName="profileName" autocomplete="off">
                        <mat-error *ngIf="profileName?.invalid">{{configureError(profileName)}}</mat-error>
                    </mat-form-field>
                </p>
            </div>
            <p>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Symbol</mat-label>
                    <input type="text" matInput formControlName="profileSymbol" autocomplete="off">
                    <mat-error *ngIf="!profileSymbol.errors?.OK || profileSymbol?.invalid">{{configureError(profileSymbol)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Position</mat-label>
                    <input type="number" matInput formControlName="profilePosition" autocomplete="off">
                    <mat-error *ngIf="profilePosition?.invalid">{{configureError(profilePosition)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" class="mx-4">
                    <mat-label>Share Price ($)</mat-label>
                    <input type="number" matInput formControlName="profilePriceOfBuy" autocomplete="off">
                    <mat-error *ngIf="profilePriceOfBuy?.invalid">{{configureError(profilePriceOfBuy)}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" type="datetime" formControlName="profileDateOfBuy" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="utils.dateFilter" placeholder="Choose a Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                    <mat-error *ngIf="profileDateOfBuy?.invalid">{{configureError(profileDateOfBuy)}}</mat-error>
                </mat-form-field>
            </p>
            <div class="text-center text-white justify-content-center">
                <button mat-raised-button type="submit" style="background-color: #32cb00;" [disabled]="createProfileForm.invalid" (click)="createProfileClick()">Create</button>
                <button mat-raised-button class="bg-warning mx-4" (click)="revert()">Cancel</button>
                <p class="text-danger" *ngIf="createError">{{profileCreateError}}</p>
            </div>
        </form>
    </div>
    <div class="loading-container position" *ngIf="confirmClickLoading && !createError">
        <mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
    </div>
</div>