<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <button mat-icon-button (click)="sidenav.toggle()" (mouseover)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
    <!--<a class="navbar-brand" routerLinkActive="active" routerLink="about">About</a> -->
    <a class="navbar-brand" routerLinkActive="active" routerLink="dash">Dashboard</a>
    <a class="navbar-brand" *ngIf="_auth.isUserLoggedIn()" routerLinkActive="active" routerLink="calendar">My Calendar</a>
    <a class="navbar-brand" *ngIf="_auth.isUserLoggedIn()" routerLinkActive="active" routerLink="gains">My Gains</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="navbar-brand" *ngIf="!_auth.isUserLoggedIn()" routerLink="login" routerLinkActive="active">Login</a>
            <a class="navbar-brand" *ngIf="!_auth.isUserLoggedIn()" routerLink="register" routerLinkActive="active">Register</a>
            <span class="navbar-brand" style="color:magenta; cursor: default;" *ngIf="_auth.isUserLoggedIn() && username !== undefined"> Hello, {{username}}</span>
            <a class="navbar-brand" style="padding-left:2%;" *ngIf="_auth.isUserLoggedIn()" (click)="_auth.logoutUser()" style="color:white">Logout</a>
        </li>
    </ul>
</nav>
<mat-sidenav-container (mouseleave)="sidenav.close()">
    <mat-sidenav [(opened)]="opened" #sidenav mode="push" fixedInViewport="true">
        <mat-nav-list>
            <a mat-list-item class="text-danger" (click)="sidenav.close()">Close Sidenav</a>
            <a mat-list-item routerLink="{{link.link}}" (click)="sidenav.close()" *ngFor="let link of links">{{link.text}}</a>
            <a mat-list-item (click)="sidenav.close(); signOut();" *ngIf="_auth.isUserLoggedIn(); else offerSignIn">Sign Out</a>
            <ng-template #offerSignIn>
                <a mat-list-item (click)="sidenav.close(); redirectToLogin()" >Sign In</a>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>