<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a>
    <a class="navbar-brand" routerLinkActive="active" routerLink="about">About</a>
    <a class="navbar-brand" routerLinkActive="active" routerLink="dash">Dashboard</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="navbar-brand" routerLink="login" routerLinkActive="active">Login</a>
            <a class="navbar-brand" routerLink="register" routerLinkActive="active">Register</a>
        </li>
    </ul>
</nav>
