<div class="jumbotron text-center">
    <h4 class="display-3">Interactive Watch List</h4>
    <div class="text-left">
        <button mat-raised-button (click)="navBack()">
            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>
    </div>
</div>
<div class="row">
    <div class="col col-md-9 offset-md-1 my-4">
        <div class="text-danger" *ngIf="isError">
            Something went wrong. Please reload and try again. If the issue persists, log out and log back in.
        </div>
        <div class="text-info" *ngIf="!isError && symbolList.length === 0 && onInitLoadingProgressBarDisplay === false">
            You don't have any stocks! Navigate to the dash <a routerLink="/dash">here</a> to add some!
        </div>
        <div class="loading-container" *ngIf="onInitLoadingProgressBarDisplay === true && !isError" style="margin-left: 55%;">
            <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
        </div>
        <div *ngIf="onInitLoadingProgressBarDisplay === false && !isError && symbolList.length !== 0" style="margin-left: 10%;">
            <table class="table table-light table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Last Updated (CST)</th>
                        <th>Current Price</th>
                        <th>I Bought At...</th>
                        <th>Num Shares</th>
                        <th>My Gains</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stock of quoteList; let index = index">
                        <td>{{stock.symbol}}</td>
                        <td>{{stock.latestUpdate}}</td>
                        <td>{{stock.latestPrice}}</td>
                        <td><input type="number" class="form-control" [(ngModel)]="quoteList[index].lowTime"></td>
                        <td><input type="number" class="form-control" [(ngModel)]="quoteList[index].highTime"></td>
                        <td [ngStyle] = "renderStyle(stock.latestPrice, quoteList[index].lowTime)" ngDefaultControl [(ngModel)]="sumColumnValues[index]">
                            <span 
                            *ngIf="quoteList[index].lowTime !== undefined && quoteList[index].lowTime !== null
                                    && quoteList[index].highTime !== undefined && quoteList[index].highTime !== null">
                            {{renderPrice(stock.latestPrice, quoteList[index].lowTime, quoteList[index].highTime, index) | currency}}
                        </span>
                    </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td [ngStyle]="globalStyle">{{sumGains() | currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>