<div class="jumbotron">
    <h2 class="display-2 text-center text-white">The Latest</h2>
    <hr style="background-color: orange; width: 50%;" class="text-center">
</div>
<div class="text-danger" *ngIf="isError; else selectBoxShow">
    Error retrieving symbols...
</div>
<div *ngIf="isLoading">
    <mat-progress-spinner style="margin-left:47%" mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<ng-template #selectBoxShow>
    <mat-form-field appearance="fill" class="mx-5">
        <mat-label>Show News For</mat-label>
        <mat-select [(ngModel)]="newsToDisplay">
            <mat-option value="All">
                All
            </mat-option>
            <mat-option *ngFor="let symbol of watchListSymbols" value="{{symbol}}">
                {{symbol}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-template>
<div class="text-info mx-4" *ngIf="articleList.length === 0 && !isLoading; else viewArticles">
    Add stocks to watchlist to see their latest and trending news!
</div>
<ng-template #viewArticles>
    <app-news-card [article]="articleList" [display]="newsToDisplay"></app-news-card>
</ng-template>
<a (click)="navBack()" class="arrow-link-container">
    <img id="arrow-back" src="../../../../../../assets/dash-images/back-arrow.svg" alt="back_arrow">
    <span class="text-white">Back to Dash</span>
</a>