.outer-table {
    width: 100%;
    color: white;
}


tr.example-detail-row {
    height: 0;
}

tr.mat-row {
    cursor: pointer;
}

tr.mat-row:hover {
    color:red;
}
  
.example-element-row td {
border-bottom-width: 0;
}

.example-element-detail {
overflow: hidden;
display: flex;
}

.example-element-diagram {
min-width: 80px;
border: 2px solid black;
padding: 8px;
font-weight: lighter;
margin: 8px 0;
height: 104px;
}

.example-element-symbol {
font-weight: bold;
font-size: 40px;
line-height: normal;
}

.symbol-text {
    position: relative;
    top: -5px;
    margin-left: 5px; /* optional */
}
.table-col {
    width: 21%;
}
.symb-col {
    width: 37%;
}
#delete-position {
    background-color: red;
}
#add-onto {
    background-color: green;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}