<table mat-table #outerTable *ngIf="accountData !== undefined" [dataSource]="dataObserv" class="mat-elevation-z8" multiTemplateDataRows>
    
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> 
      <mat-icon *ngIf="element === expandedElement">{{upDownIcon}}</mat-icon> 
      <mat-icon *ngIf="element !== expandedElement">keyboard_arrow_down</mat-icon> 
      <span class="symbol-text">{{element.symbol}}</span></td>
  </ng-container>

  <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{accumulateTotalPosition(element.symbol)}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price/Share </th>
    <td mat-cell *matCellDef="let element">{{determineAvgPriceOfShare(element.symbol) | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="cost-basis">
    <th mat-header-cell *matHeaderCellDef> Cost Basis </th>
    <td mat-cell *matCellDef="let element">{{determineCostBasis(element.symbol) | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
    [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
      <table mat-table #innerTable [dataSource]="generateExpansionArray(element.symbol)" class="mat-elevation-z4">
        
        <ng-container matColumnDef="openDate">
          <th mat-header-cell *matHeaderCellDef style="color:turquoise;"> Open Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfBuy}}</td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef style="color:turquoise;"> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}}</td>
        </ng-container>

        <ng-container matColumnDef="sharePrice">
          <th mat-header-cell *matHeaderCellDef style="color:turquoise;"> Share Price </th>
          <td mat-cell *matCellDef="let element"> {{element.priceOfBuy}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="innerColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: innerColumns;"></tr>
      </table>
    </mat-cell>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement === element? expandedElement = null : expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<!--
  change parent back to observable for this to work
  <div *ngIf="accountData | async as acc">
  {{acc.name}}
  <div *ngFor="let s of acc.data">
    {{s.symbol}}
    <div *ngFor="let ss of s.values">
      {{ss.position + "   " + ss.dateOfBuy + "    " + ss.priceOfBuy}}
    </div>
  </div>
</div>
-->