<div class="jumbotron text-center">
    <h4 class="display-3">Accounts View</h4>
    <div class="text-left">
        <button mat-raised-button (click)="navBack()">
            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>
    </div>
</div>
<div class="row">
    <div class="col col-md-2 offset-md-1" >
        <mat-form-field appearance="outline" *ngIf="accountNames !== undefined && accountNames.length !== 0; else empty">
            <mat-label class="text-success">Choose an Account</mat-label>
            <mat-select class="text-white" >
                <mat-option class="text-white" *ngFor="let name of accountNames$ | async" [value]="name">{{name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <ng-template #empty>
            <p>No accounts. Please click 'Add Account' to interact with your real stocks.</p>
            <p *ngIf="isErr">An error occurred. Please reload and try again.</p>
        </ng-template>
    </div>
    <div class="col col-md-5 offset-md-1">
        <app-dialog [accountNames]="accountNames$ | async" [symbols]="listOfSymbols$ | async"></app-dialog>
    </div>
</div>
