.jumbotron {
    padding-bottom: 1rem;
}

#add-position-button {
    background-color: green;
}

#remove-position-button {
    background-color: orange;
}
.home-button-actual {
    background-color: #2979ff;
}
.home-button:hover {
    opacity: .8;
}