<div *ngIf="!isFinishedLoading">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<div class="text-danger" *ngIf="isError; else showChart">
    {{errorMessage}}
</div>
<ng-template #showChart>
        <div class="chart-container" *ngIf="monthDataLineChart.length > 0">
            <canvas baseChart 
            [datasets]="monthDataLineChart"
            [labels]="labels"
            [options]="monthLineOptions"
            [legend]="legend"
            [chartType]="type">
            </canvas>
        </div>
        <span class="check-container">
            <mat-checkbox color="primary" [(ngModel)]="close" [checked]="closeCheck" (change)="close=$event.checked; processCheckBoxEvent($event.source.value)" value="Close">Close</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="open" [checked]="openCheck" (change)="open=$event.checked; processCheckBoxEvent($event.source.value)" value="Open">Open</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="high" [checked]="highCheck" (change)="high=$event.checked; processCheckBoxEvent($event.source.value)" value="High">High</mat-checkbox>
            <mat-checkbox color="primary" [(ngModel)]="low" [checked]="lowCheck" (change)="low=$event.checked; processCheckBoxEvent($event.source.value)" value="Low">Low</mat-checkbox>
        </span>
</ng-template>