<div class="loading-box" *ngIf="showLoading">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<div *ngIf="estimates !== undefined && estimates.length === 2 && isError === false && !showLoading; else errBlock" style="width:55%">
    <table class="table table-dark table-striped table-hover">
        <tbody>
            <tr>
                <th>Symbol</th>
                <td>{{this.estimatesDisplay.symbols[0]}}</td>
                <td>{{this.estimatesDisplay.symbols[1]}}</td>
            </tr>
            <tr>
                <th>Announce Time</th>
                <td>{{this.estimatesDisplay.announceTime[0]}}</td>
                <td>{{this.estimatesDisplay.announceTime[1]}}</td>
            </tr>
            <tr>
                <th>Consensus EPS</th>
                <td>{{this.estimatesDisplay.consensusEPS[0]}}</td>
                <td>{{this.estimatesDisplay.consensusEPS[1]}}</td>
            </tr>
            <tr>
                <th>Fiscal End</th>
                <td>{{this.estimatesDisplay.fiscalEndDate[0]}}</td>
                <td>{{this.estimatesDisplay.fiscalEndDate[1]}}</td>
            </tr>
            <tr>
                <th>Fiscal Period</th>
                <td>{{this.estimatesDisplay.fiscalPeriod[0]}}</td>
                <td>{{this.estimatesDisplay.fiscalPeriod[1]}}</td>
            </tr>
            <tr>
                <th>Report Date</th>
                <td>{{this.estimatesDisplay.reportDate[0]}}</td>
                <td>{{this.estimatesDisplay.reportDate[1]}}</td>
            </tr>
        </tbody>
        <tfoot class="text-danger">
            *This is sandbox data
        </tfoot>
    </table>
</div>
<ng-template #errBlock>
    <p class="text-danger">{{errMessage}}</p>
</ng-template>