<div class="jumbotron text-center">
    <div class="text-left home-button">
        <button mat-raised-button class="home-button-actual" (click)="utils.nav('HOME', route, direct)">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <h4 class="display-3">Interactive Watch List</h4>
    <div class="row">
        <div class="col col-md-1 offset-md-1 text-left">
            <button mat-raised-button (click)="utils.nav('ACCOUNTS', route, direct)">
                <mat-icon>arrow_back_ios</mat-icon>
                Accounts
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="userHasNoProfile" class="text-danger">
    You need to create a profile. Redirecting to accounts page...
</ng-container>
<!--portfolio value will be 0 while we are waiting for the getAccounts to update accountData$-->
<div *ngIf="loading || portfolioStatisticsWrapper?.totalPortfolioValue === 0">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<div class="row" *ngIf="!errorOnRetrieval && !loading && portfolioStatisticsWrapper !== undefined">
    <ng-container *ngIf="portfolioStatisticsWrapper.totalPortfolioValue !== 0">
        <div class="col col-md-3 offset-md-1">
            <div class="text-left">
                <p>Total Value: {{portfolioStatisticsWrapper.totalPortfolioValue | currency}}</p>
                <p>Total Accounts in Portfolio: {{portfolioStatisticsWrapper.totalAccountsInPortfolio}}</p>
                
                <ul>
                    Accounts: 
                    <li *ngFor="let item of accountsValues | keyvalue">{{item.key + " : "}} {{ item.value | currency:'USD'}}</li>
                </ul>
            </div>
            <p>
                totalPortfolioValue:number;
            totalAccountsInPortfolio:number;
            accountTotalsMap:Mapstring, Mapstring, PositionAccumulation;
            positionTotalsMap:Mapstring, PositionAccumulation;
            </p>
            <div class="text-danger" *ngIf="errorOnRetrieval">
                Something went wrong. Please reload and try again.
            </div>
        </div>
        <div class="col col-md-3 offset-md-1">
            <ol>
                Top 5 Positions:
                <li *ngFor="let item of portfolioTotalValueList | slice:0:5 ">
                    {{item[0]}} - {{item[1] | currency}}
                </li>
            </ol>
            <ol>
                Top Accounts:
                <li *ngFor="let account of accountTotalValueList">
                    {{account[0]}} -> {{account[1] | currency}}
                </li>
            </ol>
        </div>
    </ng-container>
</div>