<div class="jumbotron text-center">
    <div class="text-left home-button">
        <button mat-raised-button class="home-button-actual" (click)="utils.nav('HOME', route, direct)">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <h4 class="display-3">Interactive Watch List</h4>
    <div class="row">
        <div class="col col-md-1 offset-md-1 text-left">
            <button mat-raised-button (click)="utils.nav('ACCOUNTS', route, direct)">
                <mat-icon>arrow_back_ios</mat-icon>
                Accounts
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="userHasNoProfile" class="text-danger">
    You need to create a profile. Redirecting to accounts page...
</ng-container>
<!--portfolio value will be 0 while we are waiting for the getAccounts to update accountData$-->
<div *ngIf="loading || portfolioStatisticsWrapper?.totalPortfolioValue === 0">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<div class="row">
    <div class="col col-md-3 offset-md-1">
        <div *ngIf="!errorOnRetrieval && !loading && portfolioStatisticsWrapper !== undefined">
            <ng-container *ngIf="portfolioStatisticsWrapper.totalPortfolioValue !== 0" class="text-success text-center">
                <p>Total Value: {{portfolioStatisticsWrapper.totalPortfolioValue}}</p>
                <p>Total Accounts in Portfolio: {{portfolioStatisticsWrapper.totalAccountsInPortfolio}}</p>
                
                <ul>
                    Account Names: 
                    <li *ngFor="let accNames of accountNames">{{accNames}}</li>
                </ul>
            </ng-container>
        </div>
        <p>
            totalPortfolioValue:number;
    totalAccountsInPortfolio:number;
    accountTotalsMap:Mapstring, Mapstring, PositionAccumulation;
    positionTotalsMap:Mapstring, PositionAccumulation;
        </p>
        <div class="text-danger" *ngIf="errorOnRetrieval">
            Something went wrong. Please reload and try again.
        </div>
    </div>
</div>