<div class="row pt-5">
    <div class="col col-sm-3 mx-auto">
        <a routerLink="configstocks">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front" [ngStyle]="styles[0]">
                        Customize
                    </div>
                    <div class="flip-card-back">
                    Customize your watchlist and see whats in your ticker
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col col-sm-3 mx-auto">
        <a>
            <div class="flip-card" (click)="navToCompare()">
                <div class="flip-card-inner">
                    <div class="flip-card-front" [ngStyle]="styles[1]">
                        Compare
                    </div>
                    <div class="flip-card-back">
                    Overlay charts to see the trends for yourself
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col col-sm-3 mx-auto">
        <a (click)="navToTrending()">
            <div class="flip-card" >
                <div class="flip-card-inner">
                    <div class="flip-card-front" [ngStyle]="styles[2]">
                        Trending
                    </div>
                    <div class="flip-card-back">
                    Get links to the latest financial news
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>