<div class="jumbotron">
    <h2 class="display-2 text-center">Dashboard</h2>
</div>
<div class="row">
    <!-- cols for 'MyList' -->
    <div class="col col-lg-3">
        <div class="success-content" *ngIf="!isError; else errBlock">
            <div *ngIf="finishedLoadingFlag === true; else emptyBlock">
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let quote of quotes" cdkDrag>{{renderStockItem(quote.companyName, quote.symbol)}}</div>
                </div>
            </div>
            <ng-template #emptyBlock>
                <p *ngIf="quotes.length > 0">No stocks added yet!</p>
            </ng-template>
        </div>
        <ng-template #errBlock>
            <p class="text-danger">{{errorOnList}}</p>
        </ng-template>
    </div>
    <!-- cols for search and other components-->
    <div class="col col-lg-6 offset-sm-1" style="padding-left: 5%;">
        <!-- if user wants to add give them all stock options, or else only the ones they already have added -->
        <mat-form-field appearance="fill" *ngIf="selectBoxAction === 'Add' || selectBoxAction === undefined; else deleteField">
            <mat-label>Select A Quote</mat-label>
            <mat-select [(ngModel)]="selectBoxValue">
              <mat-option *ngFor="let quote of fillerQuotes" [value]="quote">
                {{quote}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <ng-template #deleteField>
            <mat-form-field appearance="fill">
                <mat-label>Select A Quote</mat-label>
                <mat-select [(ngModel)]="selectBoxValue">
                  <mat-option *ngFor="let quote of quotes" [value]="quote.symbol">
                    {{quote.symbol}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-template>
        <mat-form-field class="mx-2" style="padding-left: 6%" appearance="fill">
            <mat-label>Action</mat-label>
            <mat-select [(ngModel)]="selectBoxAction">
                <mat-option *ngFor="let action of actions" [value]="action">
                {{action}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button-container" style="padding-left: 18%">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="selectBoxValue === undefined || selectBoxAction === undefined" (click)="executeAction()">Execute</button>
        </div>
    </div>
</div>
