<div *ngIf="quotesHydratedFlag === true || this._stocks.getQuotes() !== undefined">
    <div *ngIf="this._stocks.getQuotes().length >= 6; else notEnoughStocks">
        <app-ticker></app-ticker>
    </div>
    <ng-template #notEnoughStocks>
        <div class="text-center text-warning"> Need to be watching at least 6 stocks for ticker</div>
    </ng-template>
</div>
<div class="jumbotron">
    <h2 class="display-2 text-center">Dashboard</h2>
</div>
<div class="text-danger" *ngIf="isError && finishedLoadingFlag; else success">{{errorOnList}}</div>
<ng-template #success>
    <app-dash-navigation></app-dash-navigation>
</ng-template>
