<span><strong>Tools</strong>
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">
        <mat-icon>settings</mat-icon>
    </button>
</span>
<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="positions">
        <mat-icon style="background-color: green;">attach_money</mat-icon>
        <span>Position</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="accounts">
        <mat-icon style="background-color: #b2dfdb;">account_balance</mat-icon>
        <span>Account</span>
    </button>
</mat-menu>
<mat-menu #positions="matMenu">
    <button class="positions-menu add" mat-menu-item [matTooltipPosition]="tooltipPosition" [matTooltip]="tooltipAddPosition" (click)="openPositionDialog(addFullPositionFlag)">
        <mat-icon>add</mat-icon>
    </button>
    <button class="positions-menu remove" mat-menu-item [matTooltipPosition]="tooltipPosition" [matTooltip]="tooltipRemovePosition" (click)="openPositionDialog(removeFullPositionFlag)">
        <mat-icon>remove</mat-icon>
    </button>
</mat-menu>
<mat-menu #accounts="matMenu">
    <app-dialog [accountNames]="accountNames" [currentAccount]="currentAccount" [symbols]="symbols"></app-dialog>
</mat-menu>