<div *ngIf="showLoadingIcon" style="padding-left: 35%;">
    <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>
</div>
<div class="text-danger" *ngIf="isError; else showChart">
    {{errMessage}}
</div>
<ng-template #showChart>
        <div *ngIf="chartData.length > 0">
            <canvas baseChart 
            [datasets]="chartData"
            [labels]="labels"
            [options]="monthLineOptions"
            [legend]="legend"
            [chartType]="type">
            </canvas>
        </div>
        <mat-radio-group style="margin-left: 25%;" [(ngModel)]="setToDisplay" (change)="toggleSet()">
             <mat-radio-button class="mx-4" value="Close">Close</mat-radio-button>
             <mat-radio-button class="mx-4" value="Open">Open</mat-radio-button>
             <mat-radio-button class="mx-4" value="Volume">Volume</mat-radio-button>
             <mat-radio-button class="mx-4" value="High">High</mat-radio-button>
             <mat-radio-button class="mx-4" value="Low">Low</mat-radio-button>
         </mat-radio-group>
         <mat-radio-group color="primary" style="margin-left: 30%;" [(ngModel)]="timespanToDisplay" (change)="toggleTime()">
            <mat-radio-button class="mx-4" value="1Month">One Month</mat-radio-button>
            <mat-radio-button class="mx-4" value="3Month">3 Month</mat-radio-button>
            <mat-radio-button class="mx-4" value="1Year">1 Year</mat-radio-button>
            <mat-radio-button class="mx-4" value="5Year">5 Year</mat-radio-button>
        </mat-radio-group>
</ng-template>
