<h1 mat-dialog-title class="mx-3 text-center">Add Account</h1>
<div mat-dialog-content>
    <p>
        <mat-form-field appearance="standard" class="mx-4">
            <mat-label>New Account Name</mat-label>
            <input type="text" matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="standard" class="mx-4">
            <mat-label>Symbol</mat-label>
            <input type="text" matInput autocomplete="off">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard" class="mx-4">
            <mat-label>Number of Shares</mat-label>
            <input type="number" matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="standard" class="mx-4">
            <mat-label>Price</mat-label>
            <input type="number" matInput autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
          </mat-form-field>
    </p>
    <div class="text-center justify-content-center">
        <button mat-raised-button type="submit" class="mx-3" id="confirm-button">Confirm</button>
        <button mat-raised-button class="mx-3" id="discard-button"mat-dialog-close>Discard</button>
    </div>

</div>