<div class="row">
    <div class="col col-md-8 offset-md-2 text-center" style="padding-bottom: 2%;">   
        <mat-button-toggle-group [(ngModel)]="buttonGroupValue" appearance="standard" (ngModelChange)="onSelectionChangeUpdate($event)">
            <mat-button-toggle [value]="FLAGS.ACCOUNT">Accounts</mat-button-toggle>
            <mat-button-toggle [value]="FLAGS.PORTFOLIO">Positions</mat-button-toggle>
        </mat-button-toggle-group>
        <div id="chart-area"></div>
    </div>
</div>