@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body {
    height: 100%;
}
html, body{
    /*background-image: url('assets/general-images/dim-gray-back.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
   /* background-color: #424242; */
    background-image: url('assets/general-images/nasdaq-nums.jpg') no-repeat left top, url('assets/general-images/solid-lightblue-back.jpg') no-repeat right bottom;
    background-size: cover;
}
.jumbotron {
    background-color: transparent;
    box-shadow: none;
    color: whitesmoke;
}
.spinner-container {
    margin-left: 45%;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  overflow-x: hidden;
}
.expansion-container {
    width: 100%;
    height: 400px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: #003152;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
.expansion-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: #003152;
  font-size: 14px;
}
.example-box:last-child {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.home-button-actual {
  background-color: #2979ff;
}
.home-button:hover {
  opacity: .8;
}

.positions-menu.add {
  background-color:#2196f3;
}
.positions-menu.remove {
  background-color: #f44336;
}
.positions-menu.remove:hover {
  background-color: #f44336;
  opacity: .9;
}
.positions-menu.add:hover {
  background-color:#2196f3;
  opacity: .9;
}