@import '~@angular/material/prebuilt-themes/purple-green.css';

html, body {
    height: 100%;
}
html, body{
    /*background-image: url('assets/general-images/dim-gray-back.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
   /* background-color: #424242; */
    background-image: url('assets/general-images/nasdaq-nums.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.jumbotron {
    background-color: transparent;
    box-shadow: none;
    color: whitesmoke;
}
.spinner-container {
    margin-left: 45%;
}