<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{quote.companyName}}
        </mat-panel-title>
        <mat-panel-description>
            {{quote.symbol}}
        </mat-panel-description>
    </mat-expansion-panel-header>
            <div [ngStyle]="callColor(quote)" [innerHtml]="displayPrice(quote)"></div>
            <p *ngIf="quote.close === null && quote.isUSMarketOpen === true">
                Previous Close: {{quote.previousClose}}
            </p>
            <div [innerHtml]="renderQuoteData(quote)"></div>
            <p>YTD Change: <span [ngStyle]="colorText(quote.ytdChange)">{{(quote.ytdChange*100).toFixed(2)}}%</span></p>
            <div class="mx-auto justify-content-center text-center" style="margin-left: 3%;">
                <button class="btn btn-primary" (click)="panelButtonClick(quote.symbol, 'View')">V</button>
                <button class="btn btn-danger" (click)="panelButtonClick(quote.symbol, 'Remove')">D</button>
            </div>
</mat-expansion-panel>