.jumbotron {
    padding: 2rem 1rem
}
.compare-arrows {
    padding-left: 5%;
}

.back-arrow {
    margin-top: 5%;
    margin-left: 3%;
}
div {
    color: turquoise;
}
.radio-grouping {
    display: grid;
}
mat-radio-button {
    margin-left: 2%;
}
.comparisons {
    margin-left: 12%;
}
#dividends-container {
    padding-right: 3%;
}